@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #333;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
}

h1,
h2,
h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}


/* ------- HEADER ------- */
header#sermon {
    margin-top: 100px;
    margin-bottom: 20px;
    justify-self: flex-start;
    text-align: center;
}


/* ------- MAIN ------- */
main {
    flex: 1;
    padding: 0 20px;
    padding-bottom: 40px;
}


/* OVERVIEW SERMONS */
#sermons h3 {
  margin-bottom: 40px;
}

#sermons>div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.sermon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
  align-items: center;
  background-color: #f0a500;
  width: 50vw;
  font-family: 'Bebas Neue', serif;
  font-size: 1.5rem;
  color:black;
  text-align: center;  
  padding: 10px 0;
  border-radius: 10px;
}

audio {
  margin-top: 10px;
  height: 50px;
  width: 90%;
}



/* ------- FOOTER ------- */
footer {
    background: #234;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}