* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: var(--font-headings, "Lora", Georgia, sans-serif); */
}
body {
  font-family: sans-serif;
  color: #333;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.7rem;
}

/* ------- HEADER -------- */
.hero {
  background: url('background-images/hero.jpg') center/cover no-repeat;
  height: 120vh;
  position: relative;
}
.overlay {
  background: rgba(0,0,0,0.5);
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}
header p {
  font-size: 1.2em;
}


/* ---------MAIN--------- */

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 5vh;
  padding: 5vh 0;
}

main p {
  line-height: 1.5rem;
  font-size: 1.3rem;
}

/* ---- ABOUT US ---- */
main #about-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80vw;
  height: 40vh;
}

.image-container {
  height: 100%;
}

.image-container img {
  width: auto;
  height: 100%;
  border-radius: 10px;
}

.info-container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
}

/* ---- services ---- */
section#church-services, section#sermons {
  width: 80vw;
}

#church-services div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #def;
  border-radius: 10px;
  padding: 30px 40px;
}

/* ---- sermons ---- */
#sermons ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  background: #def;
  border-radius: 10px;
  padding: 20px;
}

#sermons h3 {
  font-weight: 500;
}

video {
  height: 50px;
  margin: 10px 0;
}


/* -------- FOOTER -------- */
footer {
  background: #234;
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 30px;
}

footer a {
  color:white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
